#version: '3'

services:
  ## GRAFANA ##
  grafana:
    build:
      context: .
      dockerfile: grafana/Dockerfile
    container_name: grafana
    environment:
      - GF_SECURITY_ADMIN_USER=grafana
      - GF_SECURITY_ADMIN_PASSWORD=grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana-storage:/var/lib/grafana
    networks:
      - monitoring-net
    restart: unless-stopped

  ## ZABBIX ##
  zabbix-mysql:
    image: mysql:8.0 
    container_name: zabbix-mysql 
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${ZABBIX_DB_NAME}
      MYSQL_USER: ${ZABBIX_DB_USER}
      MYSQL_PASSWORD: ${ZABBIX_DB_PASSWORD}
      TZ: ${TZ}
    command: 
      - --character-set-server=utf8mb4 
      - --collation-server=utf8mb4_bin
      - --log-bin-trust-function-creators=1
    ports:
      - "3306:3306"
    volumes:
      - zabbix-mysql-storage:/var/lib/mysql 
      - ./zabbix/mysql/init/init.sql:/etc/mysql/init.sql:ro
    networks:
      - monitoring-net  
    restart: unless-stopped

  zabbix-server:
    image: zabbix/zabbix-server-mysql:latest
    container_name: zabbix-server 
    restart: unless-stopped
    environment:
      DB_SERVER_HOST: zabbix-mysql
      MYSQL_DATABASE: ${ZABBIX_DB_NAME}
      MYSQL_USER: ${ZABBIX_DB_USER}
      MYSQL_PASSWORD: ${ZABBIX_DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_PASSWORD}
      ZBX_ENABLE_JAVASCRIPT: 'true'
      PHP_TZ: ${TZ}
    depends_on:
      - zabbix-mysql
    ports:
      - "10051:10051"
    volumes:
      - /usr/local/bin:/usr/local/bin:ro 
      - zabbix-storage:/var/lib/zabbix
      - zabbix-externalscripts:/usr/lib/zabbix/externalscripts:ro
    networks:
      - monitoring-net 
  
  zabbix-web:
    image: zabbix/zabbix-web-nginx-mysql:latest
    container_name: zabbix-web 
    restart: unless-stopped
    environment:
      ZBX_SERVER_HOST: zabbix-server
      ZBX_SERVER_PORT: 10051
      ZBX_SERVER_NAME: ZabbixLab
      DB_SERVER_HOST: zabbix-mysql
      MYSQL_DATABASE: ${ZABBIX_DB_NAME}
      MYSQL_USER: ${ZABBIX_DB_USER}
      MYSQL_PASSWORD: ${ZABBIX_DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_PASSWORD}
      PHP_TZ: ${TZ}
    depends_on:
      - zabbix-mysql
      - zabbix-server
    ports:
      - "80:8080"
      - "443:8443"
    volumes:
      - ./zabbix/web/nginx_status.conf:/etc/nginx/conf.d/nginx_status.conf:ro
      - ./zabbix/web/extensions/myexample:/usr/share/zabbix/modules/myexample:rw
    networks:
      - monitoring-net
  
  zabbix-agent2:
    image: zabbix/zabbix-agent2:alpine-6.4-latest
    container_name: zabbix-agent2
    restart: unless-stopped
    depends_on:
      - zabbix-mysql
    environment:
      ZBX_HOSTNAME: zabbix-agent2
      ZBX_SERVER_HOST: zabbix-server
    user: root
    privileged: true
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - monitoring-net  # Assign the network

  ## FLASK APPLICATION ##
  flask-app:
    build:
      context: ./flask-app
      dockerfile: Dockerfile
    container_name: flask-app
    ports:
      - "${FLASK_PORT}:5000"
    environment:
      - FLASK_APP=app.py
      - FLASK_ENV=production
    networks:
      - monitoring-net
    restart: unless-stopped

volumes:
  zabbix-mysql-storage:
  zabbix-storage:
  zabbix-externalscripts:
  grafana-storage:
  flask-data:
  
networks:
  monitoring-net:
    driver: bridge